* {
    box-sizing: border-box;
}

nav {
  height: 60px;
  z-index: 50;
  margin-bottom: 20px;
  overflow: hidden;
}

div.container-fluid {
  width: 100vw;
  height: 200px;
  padding: 0;
}

div.fullMap.row {
  height: 500px;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

div.fullMap.row input#pc-input {
  width: 50%;
  margin-top: 5px;
  border: none;
  padding: none;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 80px 1px rgba(0, 0, 0, 0.438);
  height: 40px;
}

#map {
  height: 100%;
  border-radius: 5px;
  width: 50%;
}



footer {
  background: grey;
  height: 200px;
  width: 100%;
}
