body,
html {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}

* {
  box-sizing: border-box;
}

nav {
  height: 60px;

}

div.container-fluid {
  width: 100vw;
  height: 200px;
  padding: 0;
}
div.row.jumbo {
  width: 100%;
  margin-top: 70px;
}

div.fullMap.row {
  height: 500px;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
  margin: 50px;
}

div.fullMap.row input#pc-input {
  width: 50%;
  margin-top: 5px;
  border: none;
  padding: none;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 80px 1px rgba(0, 0, 0, 0.438);
  height: 40px;
}

#map {
  height: 100%;
  border-radius: 5px;
  width: 100%;
}

footer {
  background: grey;
  height: 200px;
  width: 100%;
  z-index: 50;
}
