html,
body {
  width: 100%;
  padding: 0;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

nav {
  height: 50px;
}

button {
  outline: none !important;
}

div.container-fluid {
  padding: 0;
}

div.jumbo-text {
  padding: 15px;
}
div.jumbo-text p {
  font-size: 1rem;
}
/* ======= LABELS FOR MAP ====  */
div.row.labels {
  margin: 20px 0px 40px;
  text-align: left;
  padding-left: 15px;
  height: auto;
}

div.row.labels div.col-6 {
  padding: 0;
}
div.label-color {
  padding: 0;
}

span.label-color {
  display: inline-block;
  width: 60px;
  height: 12px;
  margin-left: 12px;
  border-radius: 15px;
}

span.label-color.red {
  background: #c0111e;
}
span.label-color.orange {
  background: rgb(252, 199, 101);
}
span.label-color.green {
  background: rgb(59, 112, 32);
}
span.label-color.lightgreen {
  background: lightgreen;
}

/* ===============  MAP ======== */

div.fullMap.row {
  width: 94.5%;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-bottom: 20px;
  height: 30rem;
}

div.fullMap.row input#pc-input {
  width: 50%;
  margin-top: 5px;
  border: none;
  padding: none;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.138);
  height: 40px;
  background: rgb(255, 252, 252);
  color: rgb(1, 16, 48);
}

input#pc-input::placeholder {
  /* Most modern browsers support this now. */
  color: rgba(0, 41, 128, 0.5);
}

#map {
  height: 100%;
  border-radius: 5px;
}
button.btn-primary {
  background: rgba(0, 105, 217, 0.849);
}
button.btn-secondary {
  margin-top: 20px;
  color: grey;
  background: rgb(223, 219, 219);
  border: none;
}
button.btn-secondary:hover {
  opacity: 0.4;
  color: black;
}

footer {
  background: #e9ecef;
  height: 200px;
}

/* ================ MEDIA QUERIES ================ */

@media screen and (max-width: 1000px) {
  div.row.labels span {
    display: block;
    width: 130px;
    position: relative;
    margin-left: 0;
  }
  div.row.labels {
    text-align: justify;
  }
  div.fullMap.row {
    width: 92%;
  }
  div.jumbotron.row {
    font-size: 10px;
    padding-top: 0;
  }
}

/* =============== MODALS ========================= */

div.modal-body {
  background: #e9ecef;
}
div.modal {
  margin: auto;
}

@media screen and (min-width: 1200px) {
  div.fullMap.row {
    width: 96%;
  }
}

div.modal p.modal-label-text span {
  display: inline;
  margin-right: -1px;
  padding: 0;
}
