html,
body {
  width: 100%;
  padding: 0;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}

nav {
  height: 60px;
}

div.container-fluid {
  padding: 0;
}
/* ======= LABELS FOR MAP ====  */



/* ===============  MAP ======== */

div.fullMap.row {
  width: 96%;
  height: 80vh;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
  margin: auto;
}

div.fullMap.row input#pc-input {
  width: 50%;
  margin-top: 5px;
  border: none;
  padding: none;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.138);
  height: 40px;
}

#map {
  height: 100%;
  border-radius: 5px;
}

footer {
  background: grey;
  height: 200px;
  width: 100%;
  z-index: 50;
  margin: 0;
}

/* ================ MEDIA QUERIES ================ */
