html,
body {
  width: 100%;
  padding: 0;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

nav {
  height: 60px;
}

div.container-fluid {
  padding: 0;
  background: rgba(175, 173, 173, 0.116);
}

div.jumbo-text {
  padding: 15px;
}
/* ======= LABELS FOR MAP ====  */
div.row.labels {
  margin: 20px 0px;
  text-align: left;
  padding-left: 15px;
}

div.row.labels div.col-6 {
  padding: 0;
}
div.label-color {
  padding: 0;
}

span.label-color {
  display: inline-block;
  width: 60px;
  height: 12px;
  margin-left: 12px;
  border-radius: 15px;
}

span.label-color.red {
  background: #c0111e;
}
span.label-color.orange {
  background: rgb(252, 199, 101);
}
span.label-color.green {
  background: rgb(59, 112, 32);
}
span.label-color.lightgreen {
  background: lightgreen;
}

/* ===============  MAP ======== */

div.fullMap.row {
  width: 96%;
  height: 80vh;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-bottom: 20px;
}

div.fullMap.row input#pc-input {
  width: 50%;
  margin-top: 5px;
  border: none;
  padding: none;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.138);
  height: 40px;
  background: rgb(255, 252, 252);
  color: rgb(1, 16, 48);
}

input#pc-input::placeholder {
  /* Most modern browsers support this now. */
  color: rgba(0, 41, 128, 0.5);
}

#map {
  height: 100%;
  border-radius: 5px;
}

footer {
  background: #e9ecef;
  height: 200px;
}

/* ================ MEDIA QUERIES ================ */

@media screen and (min-width: 540px) and (max-width: 1000px) {
  div.row.labels span {
    display: block;
    width: 130px;
    position: relative;
    margin-left: 0;
  }
  div.row.labels {
    text-align: justify;
  }
}

@media screen and (min-width: 1200px) {
  div.col-md-3:nth-of-type(1) {
    margin-right: -120px;
  }
}
